<!DOCTYPE html>
<html>
<head>
    <title>Report a Lost Pet</title>
</head>
<body>
    <h1>Report a Lost Pet</h1>
    <form method="POST" action="/" enctype="multipart/form-data">
        <label for="name">Pet Name:</label>
        <input type="text" id="name" name="name" required><br>

        <label for="breed">Breed:</label>
        <input type="text" id="breed" name="breed" required><br>

        <label for="color">Color:</label>
        <input type="text" id="color" name="color" required><br>

        <label for="sex">Sex:</label>
        <input type="text" id="sex" name="sex" required><br>

        <label for="location">Last Known Location:</label>
        <input type="text" id="location"" name="location"" required><br>

        <label for="contact_info">Contact Information:</label>
        <input type="text" id="contact_info" name="contact_info" required><br>

        <label for="upload">Upload Image:</label>
        <input type="file" name="upload" id="upload">
        
        <input type="submit" value="Submit">
    </form>
</body>
</html>
